.flameblock{
    background: cadetblue;
} 
.box{ 
    background: red;
} 
.box2{
    background:yellow;
} 
.box3{
    background:green;
} 
.box4{
    background:rgb(231, 111, 111);
} 
.box5{
    background:Lime;
} 
.box6{
    background:Khaki;
} 
.box7{
    background:SkyBlue;
}